<div class="container">
    <br><br>


    <h1 class="text-primary">Welcome!</h1><br>

    <p>This is my sample website. I am hereby welcoming you all to my web.</p>


    <br>

    <a href="/signup" class="btn btn-primary mt-4 btn-lg">SIGN UP</a>

    <br><br>
    <p>Already Have an account? </p>

    <a href="/login" class="btn btn-primary mt-4 btn-lg">LOGIN</a>



</div>


<!-- <button href="./login.hbs">LOGIN</button>
<br><br>

<button href="./signup.hbs">SIGN UP</button>   -->